.full-width-btn {
  display: block;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 153px;
  font-weight: 400;
  border-radius: 5px;
  border: none;
  text-align: center;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: #f5f5dc;
  -webkit-transition: all 1.4s ease;
  -o-transition: all 1.4s ease;
  transition: all 1.4s ease;
}

.full-width-btn_inverted {
  width: 100%;
  margin: 0 auto;
  line-height: 4;
  border-radius: 25px;
  background: #b1a896;
}

.full-width-btn_inverted-special {
  max-width: 300px;
  font-size: 20px;
  margin: 0 auto;
  line-height: 2.1;
  border-radius: 40px;
  margin-top: 10px;
}

.wa-link,
.wa-link_special {
  font-family: "Fraunces", serif;
  font-weight: 900;
  display: block;
  color: rgb(255, 255, 255);
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.wa-link:hover,
.wa-link_special:hover {
  opacity: 0.7;
  color: var(--color-d);
}

.full-width-btn_inverted:hover {
  -webkit-transform: scaleY(1.1);
  -ms-transform: scaleY(1.1);
  transform: scaleY(1.1);
  -webkit-box-shadow: 0px 4px 32px 27px rgba(195, 176, 103, 0.21);
  box-shadow: 0px 4px 32px 27px rgba(195, 176, 103, 0.21);
}

.full-width-btn_small {
  line-height: 67px;
  font-size: 20px;
}

.full-width-btn:hover,
.full-width-btn_small:hover,
.full-width-btn_inverted-special:hover {
  opacity: 0.7;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: var(--color-d);
}

.full-width-btn:focus-visible,
.full-width-btn_small:focus-visible {
  outline: none;
}

@media (max-width: 1199px) {
  .full-width-btn {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .full-width-btn {
    font-size: 25px;
    line-height: 100px;
  }

  .full-width-btn_small {
    line-height: 2.7;
  }

  .full-width-btn_inverted-special {
    width: 100%;
    font-size: 20px;
    line-height: 2.1;
    margin-top: 10px;
  }
}
