.contacts__inner,
.hours-address__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.contacts__title,
.hours__title {
  margin-bottom: 74px;
  font-size: 25px;
  line-height: 1;
}

.hours__title {
  margin-bottom: 30px;
}

.contacts__telephone,
.contacts__vkontakte,
.contacts__instagram,
.studio-hours,
.address {
  font-size: 30px;
  text-decoration: none;
  color: var(--color-d);
  font-family: "Jost", sans-serif;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.address__desc {
  text-decoration: none;
  color: #6a6442;

  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.contacts__tel,
.contacts__vk,
.contacts__inst,
.address__title {
  position: relative;
  display: block;
}

.contacts__tel::before,
.contacts__vk::before,
.contacts__inst::before,
.address__title::before {
  content: "";
  display: block;
  position: absolute;
  top: -40px;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts__vk::before {
  width: 40px;
  height: 40px;
}

.contacts__vkontakte:hover,
.contacts__instagram:hover,
.address__desc:hover {
  border-bottom: 0.2px solid #121212;
  opacity: 0.5;
}

.contacts__tel::before {
  background-image: url("../resources/contacts-img/phone.svg");
}

.contacts__vk::before {
  background-image: url("../resources/contacts-img/vk.svg");
}

.contacts__inst::before {
  background-image: url("../resources/contacts-img/instagram.svg");
}

.address__title::before {
  background-image: url("../resources/contacts-img/address.svg");
}

@media (max-width: 1199px) {
  .hours-address__inner {
    gap: 70px;
  }

  .contacts__telephone,
  .contacts__vk,
  .contacts__inst,
  .studio-hours,
  .address {
    font-size: 27px;
  }
}

@media (max-width: 767px) {
  .contacts {
    margin-bottom: 80px;
  }

  .contacts__inner,
  .hours-address__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 58px;
  }

  .hours-address__inner {
    gap: 70px;
  }

  .contacts__title {
    margin-bottom: 58px;
    line-height: 2.5;
    color: var(--color-d);
  }
  .contacts__telephone,
  .contacts__vk,
  .contacts__inst,
  .studio-hours,
  .address {
    font-size: 30px;
    line-height: var(--line-h-1-7);
  }
}
