/* эксперимент */
@import url("navbar.css");
@import url("about-us.css");
@import url("title.css");
@import url("btn.css");
@import url("gallery.css");
@import url("services.css");
@import url("contacts.css");
@import url("footer.css");

:root {
  --line-h-1-7: 1.7;
  --opacity-0: 0;
  --color-l: #ffffff;
  --color-d: #000000;
  --bgcolor: #b1aa9a;

  --margin-0: 0 auto;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--margin-0);
  max-width: 100%;
  font-weight: 400;
  background-color: var(--bgcolor);
}

/* помещаем содержимое бади в блок для того, чтобы бургер скрылся справа */
.body-wrapper {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

.container {
  width: 1000px;
  margin: var(--margin-0);
}

.container_black {
  margin: var(--margin-0);
  min-width: 1800px;
}

section {
  margin-bottom: 70px;
  opacity: var(--opacity-0);
  transform: translateY(50px);
  transition: transform 0.5s, opacity 0.5s;
}

button {
  font-family: inherit;
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 0 17px;
  }
}

@media (max-width: 767px) {
  body {
    min-width: 320px;
  }

  .container {
    padding: 0 13px;
  }
}
