@import url("navbar.css");
@import url("title.css");
@import url("btn.css");
@import url("about-us.css");
@import url("why-us.css");
@import url("special-offer.css");
@import url("gallery.css");
@import url("services.css");
@import url("price-list.css");
@import url("contacts.css");
@import url("footer.css");

:root {
  --line-h-1-2: 1.2;
  --opacity-0: 0;
  --color-l: #ffffff;
  --color-d: #000000;
  --margin-0: 0 auto;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--margin-0);
  /* max-width: 1400px; */
  background-color: #ece9de;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

/* помещаем содержимое бади в блок для того, чтобы бургер скрылся справа */
.body-wrapper {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

.container {
  max-width: 1000px;
  margin: var(--margin-0);
}

section {
  margin-bottom: 60px;
  opacity: var(--opacity-0);
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

button {
  font-family: inherit;
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 0 13px;
  }
  section {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  body {
    min-width: 320px;
  }

  .container {
    padding: 0 5px;
  }
}
