.body_fixed {
  position: static;
  top: 0;
  overflow: hidden;
  opacity: 0.8;
  background-color: #ece9de;

  z-index: 2;
}

.header {
  padding: 2.5em 0;
  background-color: #ece9de;
  position: sticky;
  top: 0;
  opacity: 0.9;
  z-index: 1;
  margin-bottom: 1em;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-left: auto; /* Сдвигает меню влево */
}

.logo {
  display: block;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute; /* Позволяет логотипу быть по центру */
  left: 50%; /* Центрирует логотип по горизонтали */
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); /* Сдвигает логотип на половину его ширины */
  margin-right: auto; /* Позволяет логотипу занимать место слева */
}

.logo:hover {
  opacity: 0.7;
}

.logo__img {
  width: 160px;
  border-radius: 100%;
}

.nav__item {
  font-family: Arsenal SC;
  font-size: 20px;
  font-weight: 700;
}

.nav__link {
  color: #121212;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.nav__link:hover {
  opacity: 0.6;
  border-bottom: 0.3px solid #121212;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(44, 43, 43);
}

@media (max-width: 999px) {
  .navbar {
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .hamburger {
    display: block;
    z-index: 2;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-left: auto;
  }

  .hamburger:hover {
    opacity: 0.6;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: var(--opacity-0);
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav__menu {
    position: fixed;
    left: -100%;
    top: 1px;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgb(197, 186, 152);

    z-index: 2;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .nav__item {
    margin: 16px 0;
  }

  .nav__menu.active {
    left: 0;
  }
}
