.services__subtitle {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.span-subtitle {
  color: #5f5333;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.service__item {
  width: calc(50% - 5px);
}

.service__image {
  position: relative;
  max-width: 600px;
}
.service__price {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  top: 30px;
  left: 30px;
  padding: 5px 22px;
  font-size: 1.3em;
  background-color: #ad1818;
  border-radius: 5px;
  color: var(--color-l);
}
.service__video h3 {
  font-family: "Braah One", serif;
  font-weight: 400;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
}
.img {
  -webkit-box-shadow: 0px 0px 10px 3px rgba(208, 184, 127, 0.45);
  box-shadow: 0px 0px 50px 10px rgba(220, 178, 80, 0.45);
}
.img,
.video {
  border-radius: 7px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.service__video {
  width: 100%;
  padding: 0 7px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.action-text {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  text-transform: lowercase;
  color: #4e4e4e;
  margin-bottom: 1.2em;
  font-family: "Coda", serif;
  font-weight: 800;
}

.title-action {
  font-size: 1.3em;
}

.desc-action {
  font-size: 1em;
}

.action-red-price {
  font-family: "Merriweather", serif;
  font-weight: 900;
  color: rgb(225, 0, 0);
  font-size: 1.6em;
  font-weight: 700;
}

.device-performance {
  margin-bottom: 40px;
}

.device-performance h3 {
  font-family: "Alegreya Sans SC", serif;
  font-weight: 500;
  position: relative;
  font-size: 1.5em;
  font-weight: 500;
  text-align: justify;
}

.device-performance h3::after {
  content: "";
  display: block;
  position: absolute;
  top: 105px;
  right: 0px;
  width: 500px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: contain;
}

.device-performance h3::after {
  background-image: url("../resources/gallery/body-services.svg");
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: 12s;
    transform: scale(0.7);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: 12s;
    transform: scale(0.7);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.device-performance p {
  font-family: "Cherry Bomb One", serif;
  font-weight: 400;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -o-linear-gradient(top, rgb(157, 26, 26), rgb(55, 9, 9));
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(157, 26, 26)),
    to(rgb(55, 9, 9))
  );
  background-image: linear-gradient(180deg, rgb(157, 26, 26), rgb(55, 9, 9));

  font-size: 1.2em;
  line-height: 2;
  -webkit-animation: pulse 12s infinite;
  animation: pulse 12s infinite;
  -webkit-transition: transform 12s;
  -webkit-transition: -webkit-transform 12s;
  transition: -webkit-transform 12s;
  -o-transition: transform 12s;
  transition: transform 12s;
  transition: transform 12s, -webkit-transform 12s;
  text-align: left;
  text-transform: inherit;
}

@media (max-width: 1199px) {
  .services {
    margin-bottom: 70px;
  }

  .services__subtitle {
    font-size: 1.5em;
  }

  .service__video h3 {
    font-size: 25px;
    line-height: 1.5;
  }

  .service__price {
    font-size: 20px;
    line-height: var(--line-h-1-7);
  }

  .action-text {
    margin-bottom: 40px;
  }

  .device-performance h3::after {
    top: 100px;
    right: 80px;
    width: 330px;
    height: 405px;
  }

  .device-performance p {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .services__subtitle,
  .device-performance h3 {
    font-size: 1em;
    margin-bottom: 1.2em;
    text-align: justify;
  }

  .services__title::after {
    display: none;
  }

  .services {
    margin-bottom: 50px;
  }

  .services__list {
    gap: 30px;
  }

  .service__item {
    width: 100%;
  }

  .service__video {
    margin: 0 auto;
    max-width: 600px;
    padding: 0 7px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .video {
    width: 100%;
  }

  .service__image {
    max-width: 600px;
    margin: 0 auto;
  }

  .img {
    width: 100%;
  }

  .service__video h3 {
    font-size: 1.2em;
  }

  .service__price {
    font-family: "Libre Franklin", serif;
    font-weight: 400;
    padding: 6px 26px;
    left: 24px;
    top: 23px;
    font-size: 1em;
  }

  .action-text {
    margin-bottom: 50px;
    text-align: center;
  }

  .title-action,
  .desc-action span {
    font-size: 1em;
  }

  .desc-action {
    font-size: 0.8em;
  }

  .device-performance h3::after {
    display: none;
  }
}
